@model IEnumerable<Car_Dealership_MVC.Models.Vehicle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    

    @using (Html.BeginForm("Index", "Vehicles", FormMethod.Get))
    {
    <p>
        
        Make: @Html.DropDownList("carMake", "All")        
        Model: @Html.DropDownList("carModel", "All")
        Color: @Html.DropDownList("carColor", "All")
        Price: @Html.DropDownList("carMSRP", "All")
        <input type="submit" value="Filter" />
    </p>
    }

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MSRP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MPG)
        </th>
        




        
    </tr>

@foreach (var item in Model) {
    <tr>
        <th>
            @Html.DisplayFor(modelItem => item.ID)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.VIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.make)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MSRP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MPG)

        </td>

        <td>
           
            @Html.ActionLink("Details", "Details", new { id = item.ID })            
            <input type="submit" value="Buy" />
        </td>
    </tr>
}

</table>
